In [1]:
#Q1
for i in range(1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
#Q2
list1=[25,35,8,36,96,52]
sum=0
for i in list1:
    sum=sum+i
print(sum)

252

In [3]:
#Q3
str1='pwskill'
for char in str1[::-1]:
    print(char)

l
l
i
k
s
w
p

In [8]:
#Q4
n= int(input('Enter an integer value'))
fact=1
for i in range(1,n+1):
    fact=fact*i
    
print('Factorial of given number is', fact)

Enter an integer value 5

Factorial of given number is 120

In [9]:
#Q5
n=int(input('Enter an integer value'))
for i in range(1,11):
    print(n*i)

Enter an integer value 5

5
10
15
20
25
30
35
40
45
50

In [10]:
#Q6
list2=[1,2,3,4,5,6,7,8,9]
count_odd=0
count_even=0
for i in list2:
    if(i%2==0):
        count_even+=1
    else:
        count_odd+=1
print("total even number is:",count_even)
print('total odd number is:', count_odd)

total even number is: 4
total odd number is: 5

In [11]:
#Q7
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [14]:
#Q8
str1='pwskill'
count=0
for i in str1:
    count+=1
print('length of a string is', count)

length of a string is 7

In [15]:
#Q9
list1=[1,2,3,4,5,6,7,8,9]
n=0
sum=0
for i in list1:
    sum=sum+i
    n+=1
    
avg=sum/n
print('average of number is:',avg)

average of number is: 5.0

In [24]:
#Q10
n=int(input('enter an integer value'))
f1=0
f2=1
fib=0
for i in range(1,n+1):
    fib=f1+f2
    print(fib)
    f1=f2
    f2=fib

enter an integer value 9

1
2
3
5
8
13
21
34
55

In [6]:
#Q11
list1=[1,5,6,'pwskill','skill','pw',6]
temp=0
for i in list1:
    if list1.count(i)>1:
        print("list contains duplicates")
        temp=1
        break
    else:
        temp=0
if temp==0:
    print("list does not contain any duplicate")

list contains duplicates

In [7]:
#Q12
n=int(input('enter an integer'))
temp=0
for i in range(1,n+1):
    temp=0
    for j in range(2,i+1):
        if(i%j==0 and i!=j):
            temp=1
            continue
       
            
    if(temp==0):
        print(i)

enter an integer 15

1
2
3
5
7
11
13

In [9]:
#Q13
v=['a','e','i','o','u']
str1='I love my India'
count=0
for i in v:
    count+=str1.lower().count(i)
print(count)

6

In [10]:
#Q15

list1=[1,5,7,'@','pw','#','pwskill','data','@','science','@']
s_element='@'
print('List before deletion', list1)
for i in list1:
    if i==s_element:
        list1.remove(i)

print('List after deletion',list1)

List before deletion [1, 5, 7, '@', 'pw', '#', 'pwskill', 'data', '@', 'science', '@']
List after deletion [1, 5, 7, 'pw', '#', 'pwskill', 'data', 'science']

In [19]:
#Q16

for i in range(1,6):
    
    for j in range(1,11):
        
        print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [21]:
#Q17
temp_list_f=[98.5,130,43,32]

for i in temp_list_f:
    temp=i
    temp=temp-32
    temp=round((temp*5)/9,2)
    print(i,"F in Celcius is", temp)

98.5 F in Celcius is 36.94
130 F in Celcius is 54.44
43 F in Celcius is 6.11
32 F in Celcius is 0.0

In [22]:
#Q18
list1=[1,5,6,7,'pw','data','science']
list2=[2,'pwskil','data',5,6]

for i in list2:
    if i in list1:
        print(i)

data
5
6

In [24]:
#Q19
for i in range(1,7):
    print('*'*i)

*
**
***
****
*****
******

In [26]:
#Q20
num1=15
num2=40
small=0
gcd=1
if(num1>num2):
    small=num2
else:
    small=num1
for i in range(1,small+1):
    if(num1%i==0 and num2%i==0):
        gcd=i
       
print(gcd)

5

In [6]:
#Q21

list1=[1233,4568,25,693,786,985]
def add_digit(n):
    sum1=0
    while(n>0):
        r=n%10
        sum1=sum1+r
        n=n//10
    return sum1
        
list2=[add_digit(i) for i in list1 ]
list2

[9, 23, 7, 18, 21, 22]

In [7]:
#Q23
list1=["pw",'@',"PWskill",123,'@','Data','@']

list2=[i for i in list1 if i=='@']
list2

['@', '@', '@']

In [10]:
#Q24
n=int(input('Enter an integer more than 10 to find palindromic numbers'))
list1=[i for i in range(10,n+1) if str(i)==str(i)[::-1]]
list1

Enter an integer more than 10 to find palindromic numbers 96

[11, 22, 33, 44, 55, 66, 77, 88]

In [11]:
#Q25
list1=[7,1,2,'hi',[123],['pw','skill','data']]
list2=[i for k in list1 if type(k)==list for i in k ] + [j for j in list1 if type(j)!=list]
list2

[123, 'pw', 'skill', 'data', 7, 1, 2, 'hi']

In [12]:
#Q26
list1=[1,2,3,4,5,6,7,8,9]

s_ev=sum([i for i in list1 if i%2==0])


s_odd=sum([j for j in list1 if j%2!=0])
print(s_odd)
print(s_ev)

25
20

In [13]:
#Q27

odd_square=[i**2 for i in range(1,10) if i%2!=0]
print(odd_square)

[1, 9, 25, 49, 81]

In [15]:
#Q29

str1="pwskill data science"
vowels_list=['a','e','i','o','u']
vowels=[i for i in str1 if i.lower() in vowels_list]
vowels

['i', 'a', 'a', 'i', 'e', 'e']

In [16]:
#Q30
lst=['@p89w','sk8il6l26','86dat56a','scien34ce']

[i for k in lst for i in k if i.isdigit() ]

['8', '9', '8', '6', '2', '6', '8', '6', '5', '6', '3', '4']